.con2 .box1 {
  float: left;
}

.con3 .box1, .con3 .box2, .con3 .box3 {
  float: left;
}
.con3 {
  margin-bottom: 100px;
}
.con4 {
  width: 100px;
  margin-bottom: 150px;
}
.con4 .box1, .con4 .box2, .con4 .box3 {
  float: left;
}

.con5 {
  width: 100px;
  margin-bottom: 150px;

}
.con5 .box1, .con5 .box2, .con5 .box3 {
  float: left;
}
.con5 .box1 {
  height: 60px;
}

.con6 {
  width: 100px;
  margin-bottom: 150px;

}
.con6 .box1, .con6 .box2, .con6 .box3 {
  float: left;
}
.con6 .box1 {
  height: 10px;
}

.con7 {
  width: 300px;
  text-align: justify;
}
.con7 .box1{
  float: left;
}

.con7 .box1 {
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.con7 .clear {
  clear: both;
}

.con8 {
  width: 300px;
  text-align: justify;
}
.con8 .box1 {
  float: left;
}

.con8 .box1 {
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.con8 .clear-left {
  clear: left;
}

.con9 {
  background-color: #ccc;
  width: 300px;
  text-align: justify;
  margin-bottom: 250px;
}

.con9 .box1 {
  float: left;
}
.con9 .text  {
  float: right;
  width: 240px;
}

.con9 .box1 {
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}
